div.ref-post {
    border: 1px solid gray;
    width: 900px;
    padding: 30px;
    margin: 30px auto;
    text-align: center;
}

div.ref-post img {
    width: 100%;
}

div.ref-post p {
    font-size: 20px;
    font-family: arial;
    text-align: left;
    padding: 10px;
}